body {
    margin: 0;
    background-color: #efefef;
}

div {
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 0.3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.resultados {
    display: block;
    margin-bottom: 1em;
}

.oculto {
    display: none;
}

.error {
    border: 2px solid red;
}

ul {
    display: block;
    margin-bottom: 1em;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding: 0.3rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

ul li:before {
    content: "• ";
}
